<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content="{{ config.SITE_NAME }}" name="description">
	<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon"></link>
	<title>{{ config.SITE_NAME }}</title>
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/font-style.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet">
	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

	<style type="text/css">
	  body {
	    padding-top: 60px;
	  }
	  .container {
		    max-width: 100%; /* Your page width */
	  }
	</style>
</head>
<body>
	<div class="page-wrapper">
	  	<!-- NAVIGATION MENU -->

	    <div class="navbar-nav navbar-inverse navbar-fixed-top">
	        <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="index.html"><img src="static/img/logo30.png" alt=""> {{ config.SITE_NAME }}</a>
	        </div> 
	          <div class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	              <li class="active"><a href="index.html"><i class="icon-home icon-white"></i> Home</a></li>
	            </ul>
	          </div><!--/.nav-collapse -->
          	  <a href="https://github.com/EspacEchange/huna"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
	        </div>
	    </div>

	    <div class="container">

		  <!-- FIRST ROW OF BLOCKS -->     
	      <div class="row">
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>User Profile</dtitle>
		      		<hr>
					<div class="thumbnail">
						<img src="static/img/logo-ee.jpg" alt="HUPI" class="img-circle">
					</div><!-- /thumbnail -->
					<h1>HUPI TEST</h1>
					<br>
						<div class="info-user">
							<span aria-hidden="true" class="li_user fs1"></span>
							<span aria-hidden="true" class="li_settings fs1"></span>
							<span aria-hidden="true" class="li_mail fs1"></span>
							<span aria-hidden="true" class="li_key fs1"></span>
						</div>
					</div>
	        </div>

		  <!-- CLOUDERA TEST -->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Cloudera Test Server status</dtitle>
		      		<hr>
		      		<div class="cont">
						<p><bold>{{ cm_prod.server_stats()['GOOD'] }}</bold> | <ok>GOOD</ok></p>
						<p><bold>{{ cm_prod.server_stats()['OTHER'] }}</bold> | OTHER</p>
						<p><bold>{{ cm_prod.server_stats()['BAD'] }}</bold> | <bad>BAD</bad></p>
						<p>
							{% for s in cm_prod.server_bad() %}
							<div>
								{{ s['service'] }}
							</div>
							{% endfor %}
						</p>
					</div>
				</div>
	        </div>

		  <!-- 3 HOUR - CPU USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour Memory Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-prod-mem-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
		  <!-- 3 HOUR - MEMORY USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour CPU Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-prod-cpu-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
	      </div><!-- /row -->
	      
	      
		  <!-- SECOND ROW OF BLOCKS -->     
	      <div class="row">
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>User Profile</dtitle>
		      		<hr>
					<div class="thumbnail">
						<img src="static/img/logo-ee.jpg" alt="HUPI" class="img-circle">
					</div><!-- /thumbnail -->
					<h1>HUPI TEST</h1>
					<br>
						<div class="info-user">
							<span aria-hidden="true" class="li_user fs1"></span>
							<span aria-hidden="true" class="li_settings fs1"></span>
							<span aria-hidden="true" class="li_mail fs1"></span>
							<span aria-hidden="true" class="li_key fs1"></span>
						</div>
					</div>
	        </div>

		  <!-- CLOUDERA TEST -->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Cloudera Test Server status</dtitle>
		      		<hr>
		      		<div class="cont">
						<p><bold>{{ cm_test.server_stats()['GOOD'] }}</bold> | <ok>GOOD</ok></p>
						<p><bold>{{ cm_test.server_stats()['OTHER'] }}</bold> | OTHER</p>
						<p><bold>{{ cm_test.server_stats()['BAD'] }}</bold> | <bad>BAD</bad></p>
						<p>
							{% for s in cm_test.server_bad() %}
							<div>
								{{ s['service'] }}
							</div>
							{% endfor %}
						</p>
					</div>
				</div>
	        </div>
	        
		  <!-- 3 HOUR - CPU USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour Memory Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-test-mem-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
		  <!-- 3 HOUR - MEMORY USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour CPU Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-test-cpu-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
	      </div><!-- /row -->
	     
	 
		  <!-- THIRD ROW OF BLOCKS -->     
	      <div class="row">
	      	<div class="col-sm-3 col-lg-3">
		  
		  <!-- BARS CHART - lineandbars.js file -->     
	      		<div class="half-unit">
		      		<dtitle>Stock Information</dtitle>
		      		<hr>
		      		<div class="cont">
		      		 <div class="info-aapl">
				        <h4>AAPL</h4>
				        <ul>
				          <li><span class="orange" style="height: 37.5%"></span></li>
				          <li><span class="orange" style="height: 47.5%"></span></li>
				          <li><span class="orange" style="height: 70%"></span></li>
				          <li><span class="orange" style="height: 85%"></span></li>
				          <li><span class="green" style="height: 75%"></span></li>
				          <li><span class="green" style="height: 50%"></span></li>
				          <li><span class="green" style="height: 15%"></span></li>
				        </ul>
				      </div>
				      </div>
	      		</div>

		  <!-- TO DO LIST -->     
	      		<div class="half-unit">
		      		<dtitle>To Do List</dtitle>
		      		<hr>
		      		<div class="cont">
						<p><bold>13</bold> | Pending Tasks</p>
					</div>
			             <div class="progress">
					        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%;"><span class="sr-only">60% Complete</span>
						        
					        </div>
					     </div>
	      		</div>
	      	</div>

	      	<div class="col-sm-3 col-lg-3">

		  <!-- LIVE VISITORS BLOCK -->     
	      		<div class="half-unit">
		      		<dtitle>Live Visitors</dtitle>
		      		<hr>
		      		<div class="cont">
	      			<p><bold>388</bold></p>
	      			<p><img src="static/img/up-small.png" alt=""> 412 Max. | <img src="static/img/down-small.png" alt=""> 89 Min.</p>
		      		</div>
	      		</div>
	      		
		  <!-- PAGE VIEWS BLOCK -->     
	      		<div class="half-unit">
		      		<dtitle>Page Views</dtitle>
		      		<hr>
		      		<div class="cont">
	      			<p><bold>145.0K</bold></p>
	      			<p><img src="static/img/up-small.png" alt=""> 23.88%</p>
		      		</div>
	      		</div>
	      	</div>

	      	<div class="col-sm-3 col-lg-3">
		  <!-- TOTAL SUBSCRIBERS BLOCK -->     
	      		<div class="half-unit">
		      		<dtitle>Total Subscribers</dtitle>
		      		<hr>
		      		<div class="cont">
	      			<p><bold>14.744</bold></p>
	      			<p>98 Subscribed Today</p>
		      		</div>
	      		</div>
	      		
		  <!-- FOLLOWERS BLOCK -->     
	      		<div class="half-unit">
		      		<dtitle>Twitter Followers</dtitle>
		      		<hr>
		      		<div class="cont">
	      			<p><bold>17.833 Followers</bold></p>
	      			<p>@SomeUser</p>
		      		</div>
	      		</div>
	      	</div>

		  <!-- LATEST NEWS BLOCK -->     
	      	<div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Latest News</dtitle>
		      		<hr>
					<div class="info-user">
						<span aria-hidden="true" class="li_news fs2"></span>
					</div>
					<br>
	      			<div class="text">
	      				<p><b>{{ config.SITE_NAME }}</b> Please, visit <a></a> for more details.</p>
	      				<p><grey>Last Update: 5 minutes ago.</grey></p>
	      			</div>
	      		</div>
	      	</div>
	      </div><!-- /row -->
	      
		  <!-- FOURTH ROW OF BLOCKS -->     
		<div class="row">
		
		  <!-- TWITTER WIDGET BLOCK -->     
			<div class="col-sm-3 col-lg-3">
				<div class="dash-unit">
		      		<dtitle>Twitter Widget</dtitle>
		      		<hr>
					<div class="info-user">
						<span aria-hidden="true" class="li_megaphone fs2"></span>
					</div>
					<br>
			 		<div id="jstwitter" class="clearfix">
						<ul id="twitter_update_list"></ul>
					</div>
					<script src="http://twitter.com/javascripts/blogger.js"></script><!-- Script Needed to load the Tweets -->
					<script src="http://api.twitter.com/1/statuses/user_timeline/wrapbootstrap.json?callback=twitterCallback2&amp;count=1"></script>
					<!-- To show your tweets replace "wrapbootstrap", in the line above, with your user. -->
					<div class="text">
					<p><grey>Show your tweets here!</grey></p>
					</div>
				</div>
			</div>

		  <!-- NOTIFICATIONS BLOCK -->     
			<div class="col-sm-3 col-lg-3">
				<div class="dash-unit">
		      		<dtitle>Notifications</dtitle>
		      		<hr>
		      		<div class="info-user">
						<span aria-hidden="true" class="li_bubble fs2"></span>
					</div>
		      		<div class="cont">
		      			<p><button class="btnnew noty" data-noty-options="{&quot;text&quot;:&quot;This is a success notification&quot;,&quot;layout&quot;:&quot;topRight&quot;,&quot;type&quot;:&quot;success&quot;}">Top Right</button></p>
		      			<p><button class="btnnew noty" data-noty-options="{&quot;text&quot;:&quot;This is an informaton notification&quot;,&quot;layout&quot;:&quot;topLeft&quot;,&quot;type&quot;:&quot;information&quot;}">Top Left</button></p>
		      			<p><button class="btnnew noty" data-noty-options="{&quot;text&quot;:&quot;This is an alert notification with fade effect.&quot;,&quot;layout&quot;:&quot;topCenter&quot;,&quot;type&quot;:&quot;alert&quot;,&quot;animateOpen&quot;: {&quot;opacity&quot;: &quot;show&quot;}}">Top Center (fade)</button></p>
		      		</div>
				</div>
			</div>

		  <!-- SWITCHES BLOCK -->     
			<div class="col-sm-3 col-lg-3">
				<div class="dash-unit">
		      		<dtitle>Switches</dtitle>
		      		<hr>
		      		<div class="info-user">
						<span aria-hidden="true" class="li_params fs2"></span>
					</div>
					<br>
					<div class="switch">
						<input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
						<label for="on" class="switch-label switch-label-off">On</label>
						<input type="radio" class="switch-input" name="view" value="off" id="off">
						<label for="off" class="switch-label switch-label-on">Off</label>
						<span class="switch-selection"></span>
					</div>
					<div class="switch switch-blue">
						<input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked="">
						<label for="week2" class="switch-label switch-label-off">Week</label>
						<input type="radio" class="switch-input" name="view2" value="month2" id="month2">
						<label for="month2" class="switch-label switch-label-on">Month</label>
						<span class="switch-selection"></span>
					</div>
					
					<div class="switch switch-yellow">
						<input type="radio" class="switch-input" name="view3" value="yes" id="yes" checked="">
						<label for="yes" class="switch-label switch-label-off">Yes</label>
						<input type="radio" class="switch-input" name="view3" value="no" id="no">
						<label for="no" class="switch-label switch-label-on">No</label>
						<span class="switch-selection"></span>
					</div>
				</div>
			</div>

		  <!-- GAUGE CHART BLOCK -->     
			<div class="col-sm-3 col-lg-3">
				<div class="dash-unit">
		      		<dtitle>Gauge Chart</dtitle>
		      		<hr>
		      		<div class="info-user">
						<span aria-hidden="true" class="li_lab fs2"></span>
					</div>
					<canvas id="canvas" width="300" height="300">
				</canvas></div>
			</div>
		
		</div><!--/row -->     
	      
	 	  <!-- FOURTH ROW OF BLOCKS -->     
			<div class="row">

	 	  <!-- ACCORDION BLOCK -->     
				<div class="col-sm-3 col-lg-3">
					<div class="dash-unit">
		      		<dtitle>Accordion</dtitle>
		      		<hr>
						<div class="accordion" id="accordion2">
			                <div class="accordion-group">
			                    <div class="accordion-heading">
			                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			                        Collapsible Group Item #1
			                        </a>
			                    </div>
			                    <div id="collapseOne" class="accordion-body collapse in">
			                        <div class="accordion-inner">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.                        
									</div>
			                    </div>
			                </div>
			
			                <div class="accordion-group">
			                    <div class="accordion-heading">
			                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			                        Collapsible Group Item #2
			                        </a>
			                    </div>
			                    <div id="collapseTwo" class="accordion-body collapse">
			                        <div class="accordion-inner">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.                      
									</div>
			                    </div>
			                </div>
			
			                 <div class="accordion-group">
			                    <div class="accordion-heading">
			                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
			                        Collapsible Group Item #3
			                        </a>
			                    </div>
			                    <div id="collapseThree" class="accordion-body collapse">
			                        <div class="accordion-inner">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem.                        
			                        </div>
			                    </div>
			                </div>
			            </div><!--/accordion -->
					</div>
				</div>
				
				<div class="col-sm-3 col-lg-3">

	 	  		<!-- LAST USER BLOCK -->     
					<div class="half-unit">
		      		<dtitle>Last Registered User</dtitle>
		      		<hr>
		      			<div class="cont2">
		      				<img src="static/img/user-avatar.jpg" alt="">
		      				<br>
		      				<br>
		      				<p>Paul Smith</p>
		      				<p><bold>Liverpool, England</bold></p>
		      			</div>
					</div>
					
	 	  		<!-- MODAL BLOCK -->     
					<div class="half-unit">
		      		<dtitle>Modal</dtitle>
		      		<hr>
			            <div class="cont">
			                <a href="#myModal" role="button" class="btnnew" data-toggle="modal">Example Modal Window</a>
			            </div>
					</div>
				</div>
				<!-- Modal -->
				  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				          <h4 class="modal-title">Modal title</h4>
				        </div>
				        <div class="modal-body">
				          ...
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				          <button type="button" class="btn btn-primary">Save changes</button>
				        </div>
				      </div><!-- /.modal-content -->
				    </div><!-- /.modal-dialog -->
				  </div><!-- /.modal -->
	 	  		<!-- FAST CONTACT BLOCK -->     
				<div class="col-sm-3 col-lg-3">
					<div class="dash-unit">
		      		<dtitle>Fast Contact</dtitle>
		      		<hr>
		      		<div class="cont">
	                	<form action="#get-in-touch" method="POST" id="contact">
	                    	<input type="text" id="contactname" name="contactname" placeholder="Name">
	                    	<input type="text" id="email" name="email" placeholder="Email">
	                    	<div class="textarea-container"><textarea id="message" name="message" placeholder="Message"></textarea></div>
	                    	<input type="submit" id="submit" name="submit" value="Send">
	                    </form>
					</div>
					</div>
				</div>

	 	  		<!-- INFORMATION BLOCK -->     
				<div class="col-sm-3 col-lg-3">
					<div class="dash-unit">
		      		<dtitle>{{ config.SITE_NAME }}</dtitle>
		      		<hr>
		      		<div class="info-user">
						<span aria-hidden="true" class="li_display fs2"></span>
					</div>
					<br>
					<div class="text">
					<p>Special Thanks to Highcharts, Linecons and Bootstrap for their amazing tools.</p>
					</div>

					</div>
				</div>

			</div><!--/row -->
	     
	      
	      
		</div> <!-- /container -->
	</div>
		<div id="footerwrap">
	      	<footer class="clearfix"></footer>
	      	<div class="container">
	      		<div class="row">
	      			<div class="col-sm-12 col-lg-12">
	      			<p><img src="static/img/logo.png" alt=""></p>
	      			<p>{{ config.SITE_NAME }}</p>
	      			</div>

	      		</div><!-- /row -->
	      	</div><!-- /container -->		
		</div><!-- /footerwrap -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/js/lineandbars.js"></script>
    
	<script type="text/javascript" src="static/js/dash-charts.js"></script>
	<script type="text/javascript" src="static/js/gauge.js"></script>
	
	<!-- NOTY JAVASCRIPT -->
	<script type="text/javascript" src="static/js/noty/jquery.noty.js"></script>
	<script type="text/javascript" src="static/js/noty/layouts/top.js"></script>
	<script type="text/javascript" src="static/js/noty/layouts/topLeft.js"></script>
	<script type="text/javascript" src="static/js/noty/layouts/topRight.js"></script>
	<script type="text/javascript" src="static/js/noty/layouts/topCenter.js"></script>
	
	<!-- You can add more layouts if you want -->
	<script type="text/javascript" src="static/js/noty/themes/default.js"></script>
    <!-- <script type="text/javascript" src="static/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="static/js/jquery.flexslider.js" ></script>

    <script type="text/javascript" src="static/js/admin.js"></script>

	<script type="text/javascript">
			/**
		 * Dark theme for Highcharts JS
		 * @author Torstein Honsi
		 */

		// Load the fonts
		Highcharts.createElement('link', {
		   href: '//fonts.googleapis.com/css?family=Unica+One',
		   rel: 'stylesheet',
		   type: 'text/css'
		}, null, document.getElementsByTagName('head')[0]);

		Highcharts.theme = {
		   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
			  "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
		   chart: {
			  backgroundColor:'rgba(255, 255, 255, 0)',
			  style: {
				 fontFamily: "'Unica One', sans-serif"
			  },
			  plotBorderColor: '#606063'
		   },
		   title: {
			  style: {
				 color: '#E0E0E3',
				 textTransform: 'uppercase',
				 fontSize: '20px'
			  }
		   },
		   subtitle: {
			  style: {
				 color: '#E0E0E3',
				 textTransform: 'uppercase'
			  }
		   },
		   xAxis: {
			  gridLineColor: '#707073',
			  labels: {
				 style: {
					color: '#E0E0E3'
				 }
			  },
			  lineColor: '#707073',
			  minorGridLineColor: '#505053',
			  tickColor: '#707073',
			  title: {
				 style: {
					color: '#A0A0A3'

				 }
			  }
		   },
		   yAxis: {
			  gridLineColor: '#707073',
			  labels: {
				 style: {
					color: '#E0E0E3'
				 }
			  },
			  lineColor: '#707073',
			  minorGridLineColor: '#505053',
			  tickColor: '#707073',
			  tickWidth: 1,
			  title: {
				 style: {
					color: '#A0A0A3'
				 }
			  }
		   },
		   tooltip: {
			  backgroundColor: 'rgba(0, 0, 0, 0.85)',
			  style: {
				 color: '#F0F0F0'
			  }
		   },
		   plotOptions: {
			  series: {
				 dataLabels: {
					color: '#B0B0B3'
				 },
				 marker: {
					lineColor: '#333'
				 }
			  },
			  boxplot: {
				 fillColor: '#505053'
			  },
			  candlestick: {
				 lineColor: 'white'
			  },
			  errorbar: {
				 color: 'white'
			  }
		   },
		   legend: {
			  itemStyle: {
				 color: '#E0E0E3'
			  },
			  itemHoverStyle: {
				 color: '#FFF'
			  },
			  itemHiddenStyle: {
				 color: '#606063'
			  }
		   },
		   credits: {
			  style: {
				 color: '#666'
			  }
		   },
		   labels: {
			  style: {
				 color: '#707073'
			  }
		   },

		   drilldown: {
			  activeAxisLabelStyle: {
				 color: '#F0F0F3'
			  },
			  activeDataLabelStyle: {
				 color: '#F0F0F3'
			  }
		   },

		   navigation: {
			  buttonOptions: {
				 symbolStroke: '#DDDDDD',
				 theme: {
					fill: '#505053'
				 }
			  }
		   },

		   // scroll charts
		   rangeSelector: {
			  buttonTheme: {
				 fill: '#505053',
				 stroke: '#000000',
				 style: {
					color: '#CCC'
				 },
				 states: {
					hover: {
					   fill: '#707073',
					   stroke: '#000000',
					   style: {
						  color: 'white'
					   }
					},
					select: {
					   fill: '#000003',
					   stroke: '#000000',
					   style: {
						  color: 'white'
					   }
					}
				 }
			  },
			  inputBoxBorderColor: '#505053',
			  inputStyle: {
				 backgroundColor: '#333',
				 color: 'silver'
			  },
			  labelStyle: {
				 color: 'silver'
			  }
		   },

		   navigator: {
			  handles: {
				 backgroundColor: '#666',
				 borderColor: '#AAA'
			  },
			  outlineColor: '#CCC',
			  maskFill: 'rgba(255,255,255,0.1)',
			  series: {
				 color: '#7798BF',
				 lineColor: '#A6C7ED'
			  },
			  xAxis: {
				 gridLineColor: '#505053'
			  }
		   },

		   scrollbar: {
			  barBackgroundColor: '#808083',
			  barBorderColor: '#808083',
			  buttonArrowColor: '#CCC',
			  buttonBackgroundColor: '#606063',
			  buttonBorderColor: '#606063',
			  rifleColor: '#FFF',
			  trackBackgroundColor: '#404043',
			  trackBorderColor: '#404043'
		   },

		   // special colors for some of the
		   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
		   background2: '#505053',
		   dataLabelsColor: '#B0B0B3',
		   textColor: '#C0C0C0',
		   contrastTextColor: '#F0F0F3',
		   maskColor: 'rgba(255,255,255,0.3)'
		};

		// Apply the theme
		Highcharts.setOptions(Highcharts.theme);
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-test-mem-usage').highcharts(
			{{ cm_test.hc_line(cm_test.mem_usage(),'cloudera-test-mem-usage','o')|tojson|safe }}
			);
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-test-cpu-usage').highcharts(
			{{ cm_test.hc_line(cm_test.cpu_usage(),'cloudera-test-cpu-usage','o')|tojson|safe }}
			);
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-prod-mem-usage').highcharts(
			{{ cm_prod.hc_line(cm_prod.mem_usage(),'cloudera-prod-mem-usage','o')|tojson|safe }}
			);
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-prod-cpu-usage').highcharts(
			{{ cm_prod.hc_line(cm_prod.cpu_usage(),'cloudera-prod-cpu-usage','o')|tojson|safe }}
			);
		});
	</script>
</body>
</html>