<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{{ config.SITE_NAME }}" name="description">
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon"></link>
    <title>{{ config.SITE_NAME }}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <!-- Google Fonts call. Font Used Open Sans & Raleway -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

    <style type="text/css">
      body {
        padding-top: 60px;
      }
      .container {
            max-width: 100%; /* Your page width */
      }
    </style>
</head>
<body>
    <div class="page-wrapper">
          <!-- NAVIGATION MENU -->

        <div class="navbar-nav navbar-inverse navbar-fixed-top">
            <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="static/img/logo30.png" alt=""> {{ config.SITE_NAME }}</a>
            </div> 
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                </ul>
              </div><!--/.nav-collapse -->
                <a href="https://github.com/EspacEchange/huna"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
            </div>
        </div>

        <div class="container">

		  <!-- FIRST ROW OF BLOCKS -->     
	      <div class="row">
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>User Profile</dtitle>
		      		<hr>
					<div class="thumbnail">
						<img src="static/img/logo-ee.jpg" alt="HUPI" class="img-circle">
					</div><!-- /thumbnail -->
					<h1>HUPI TEST</h1>
					<br>
						<div class="info-user">
							<span aria-hidden="true" class="li_user fs1"></span>
							<span aria-hidden="true" class="li_settings fs1"></span>
							<span aria-hidden="true" class="li_mail fs1"></span>
							<span aria-hidden="true" class="li_key fs1"></span>
						</div>
					</div>
	        </div>

		  <!-- CLOUDERA TEST -->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Cloudera Test Server status</dtitle>
		      		<hr>
		      		<div class="cont">
						<p><bold>{{ cm_prod.server_stats()['GOOD'] }}</bold> | <ok>GOOD</ok></p>
						<p><bold>{{ cm_prod.server_stats()['OTHER'] }}</bold> | OTHER</p>
						<p><bold>{{ cm_prod.server_stats()['BAD'] }}</bold> | <bad>BAD</bad></p>
						<p>
							{% for s in cm_prod.server_bad() %}
							<div>
								{{ s['service'] }}
							</div>
							{% endfor %}
						</p>
					</div>
				</div>
	        </div>

		  <!-- 3 HOUR - CPU USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour Memory Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-prod-mem-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
		  <!-- 3 HOUR - MEMORY USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour CPU Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-prod-cpu-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
	      </div><!-- /row -->
	      
	      
		  <!-- SECOND ROW OF BLOCKS -->     
	      <div class="row">
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>User Profile</dtitle>
		      		<hr>
					<div class="thumbnail">
						<img src="static/img/logo-ee.jpg" alt="HUPI" class="img-circle">
					</div><!-- /thumbnail -->
					<h1>HUPI TEST</h1>
					<br>
						<div class="info-user">
							<span aria-hidden="true" class="li_user fs1"></span>
							<span aria-hidden="true" class="li_settings fs1"></span>
							<span aria-hidden="true" class="li_mail fs1"></span>
							<span aria-hidden="true" class="li_key fs1"></span>
						</div>
					</div>
	        </div>

		  <!-- CLOUDERA TEST -->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Cloudera Test Server status</dtitle>
		      		<hr>
		      		<div class="cont">
						<p><bold>{{ cm_test.server_stats()['GOOD'] }}</bold> | <ok>GOOD</ok></p>
						<p><bold>{{ cm_test.server_stats()['OTHER'] }}</bold> | OTHER</p>
						<p><bold>{{ cm_test.server_stats()['BAD'] }}</bold> | <bad>BAD</bad></p>
						<p>
							{% for s in cm_test.server_bad() %}
							<div>
								{{ s['service'] }}
							</div>
							{% endfor %}
						</p>
					</div>
				</div>
	        </div>
	        
		  <!-- 3 HOUR - CPU USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour Memory Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-test-mem-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
		  <!-- 3 HOUR - MEMORY USAGE-->
	        <div class="col-sm-3 col-lg-3">
	      		<div class="dash-unit">
		      		<dtitle>Last 3 Hour CPU Usage</dtitle>
		      		<hr>
					<div class="section-graph">
						<div id="cloudera-test-cpu-usage" style="min-width: 200px; height: 250px; margin: 0 auto"></div>
					</div>

				</div>
	        </div>
	      </div><!-- /row -->
	     
	 
		  <!-- THIRD ROW OF BLOCKS -->     
	      <div class="row">
	      	<div class="col-sm-3 col-lg-3">
		  
		  <!-- BARS CHART - lineandbars.js file -->     
	      		<div class="half-unit">
		      		<dtitle>Stock Information</dtitle>
		      		<hr>
		      		<div class="cont">
		      		 <div class="info-aapl">
				        <h4>AAPL</h4>
				        <ul>
				          <li><span class="orange" style="height: 37.5%"></span></li>
				          <li><span class="orange" style="height: 47.5%"></span></li>
				          <li><span class="orange" style="height: 70%"></span></li>
				          <li><span class="orange" style="height: 85%"></span></li>
				          <li><span class="green" style="height: 75%"></span></li>
				          <li><span class="green" style="height: 50%"></span></li>
				          <li><span class="green" style="height: 15%"></span></li>
				        </ul>
				      </div>
				      </div>
	      		</div>

          <!-- Integration Status -->
            <div class="col-sm-3 col-lg-3">
                  <div class="dash-unit">
                  <dtitle>Integration Status</dtitle>
                  <hr>
                    <div class="section-graph">
                      <div id="importantchart"></div>
                      <br>
                      <div class="graph-info">
                        <i class="graph-arrow"></i>
                        <span class="graph-info-big">634.39</span>
                        <span class="graph-info-small">+2.18 (3.71%)</span>
                      </div>
                    </div>
                </div>
            </div>

          <!-- Dev Status -->
            <div class="col-sm-3 col-lg-3">
                  <div class="dash-unit">
                      <dtitle>Dev Status</dtitle>
                      <hr>
                </div>
            </div>
            
          <!-- 30 DAYS STATS -->
            <div class="col-sm-3 col-lg-3">
                  <div class="dash-unit">
                      <dtitle>Last 30 Days Stats</dtitle>
                      <hr>
                      <br>
                      <br>
                    <div class="cont">
                        <p>StatCounter Information</p>
                    </div>   
                </div>
            </div>
          </div><!-- /row -->
          
           <!-- FOURTH ROW OF BLOCKS -->
            <div class="row">

           <!-- ACCORDION BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                      <dtitle>Accordion</dtitle>
                      <hr>
                    </div>
                </div>
                
                <div class="col-sm-3 col-lg-3">

                   <!-- LAST USER BLOCK -->
                    <div class="half-unit">
                      <dtitle>Last Registered User</dtitle>
                      <hr>
                          <div class="cont2">
                              <img src="static/img/user-avatar.jpg" alt="">
                              <br>
                              <br>
                              <p>Paul Smith</p>
                              <p><bold>Liverpool, England</bold></p>
                          </div>
                    </div>

                   <!-- MODAL BLOCK -->
                    <div class="half-unit">
                      <dtitle>Modal</dtitle>
                      <hr>
                        <div class="cont">
                            <a href="#myModal" role="button" class="btnnew" data-toggle="modal">Example Modal Window</a>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                          <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                          ...
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                  </div><!-- /.modal -->
                   <!-- FAST CONTACT BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                      <dtitle>Fast Contact</dtitle>
                      <hr>
                      <div class="cont">
                        <form action="#get-in-touch" method="POST" id="contact">
                            <input type="text" id="contactname" name="contactname" placeholder="Name">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <div class="textarea-container"><textarea id="message" name="message" placeholder="Message"></textarea></div>
                            <input type="submit" id="submit" name="submit" value="Send">
                        </form>
                    </div>
                    </div>
                </div>

                   <!-- INFORMATION BLOCK -->
                <div class="col-sm-3 col-lg-3">
                    <div class="dash-unit">
                      <dtitle>{{ config.SITE_NAME }}</dtitle>
                      <hr>
                      <div class="info-user">
                        <span aria-hidden="true" class="li_display fs2"></span>
                    </div>
                    <br>
                    <div class="text">
                    <p>Special Thanks to Highcharts and Bootstrap for their amazing tools.</p>
                    </div>

                    </div>
                </div>

            </div><!--/row -->
        </div><!-- /container -->
    </div>
    <div id="footerwrap">
          <footer class="clearfix"></footer>
          <div class="container">
              <div class="row">
                  <div class="col-sm-12 col-lg-12">
                  <p><img src="static/img/logo.png" alt=""></p>
                  <p>{{ config.SITE_NAME }}</p>
                  </div>

              </div><!-- /row -->
          </div><!-- /container -->
    </div><!-- /footerwrap -->
    <!-- Le javascript -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.js"></script> 
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript">
			/**
		 * Dark theme for Highcharts JS
		 * @author Torstein Honsi
		 */

		// Load the fonts
		Highcharts.createElement('link', {
		   href: '//fonts.googleapis.com/css?family=Unica+One',
		   rel: 'stylesheet',
		   type: 'text/css'
		}, null, document.getElementsByTagName('head')[0]);

		Highcharts.theme = {
		   colors: ["#2b908f", "#90ee7e", "#f45b5b", "#7798BF", "#aaeeee", "#ff0066", "#eeaaee",
			  "#55BF3B", "#DF5353", "#7798BF", "#aaeeee"],
		   chart: {
			  backgroundColor:'rgba(255, 255, 255, 0)',
			  style: {
				 fontFamily: "'Unica One', sans-serif"
			  },
			  plotBorderColor: '#606063'
		   },
		   title: {
			  style: {
				 color: '#E0E0E3',
				 textTransform: 'uppercase',
				 fontSize: '20px'
			  }
		   },
		   subtitle: {
			  style: {
				 color: '#E0E0E3',
				 textTransform: 'uppercase'
			  }
		   },
		   xAxis: {
			  gridLineColor: '#707073',
			  labels: {
				 style: {
					color: '#E0E0E3'
				 }
			  },
			  lineColor: '#707073',
			  minorGridLineColor: '#505053',
			  tickColor: '#707073',
			  title: {
				 style: {
					color: '#A0A0A3'

				 }
			  }
		   },
		   yAxis: {
			  gridLineColor: '#707073',
			  labels: {
				 style: {
					color: '#E0E0E3'
				 }
			  },
			  lineColor: '#707073',
			  minorGridLineColor: '#505053',
			  tickColor: '#707073',
			  tickWidth: 1,
			  title: {
				 style: {
					color: '#A0A0A3'
				 }
			  }
		   },
		   tooltip: {
			  backgroundColor: 'rgba(0, 0, 0, 0.85)',
			  style: {
				 color: '#F0F0F0'
			  }
		   },
		   plotOptions: {
			  series: {
				 dataLabels: {
					color: '#B0B0B3'
				 },
				 marker: {
					lineColor: '#333'
				 }
			  },
			  boxplot: {
				 fillColor: '#505053'
			  },
			  candlestick: {
				 lineColor: 'white'
			  },
			  errorbar: {
				 color: 'white'
			  }
		   },
		   legend: {
			  itemStyle: {
				 color: '#E0E0E3'
			  },
			  itemHoverStyle: {
				 color: '#FFF'
			  },
			  itemHiddenStyle: {
				 color: '#606063'
			  }
		   },
		   credits: {
			  style: {
				 color: '#666'
			  }
		   },
		   labels: {
			  style: {
				 color: '#707073'
			  }
		   },

		   drilldown: {
			  activeAxisLabelStyle: {
				 color: '#F0F0F3'
			  },
			  activeDataLabelStyle: {
				 color: '#F0F0F3'
			  }
		   },

		   navigation: {
			  buttonOptions: {
				 symbolStroke: '#DDDDDD',
				 theme: {
					fill: '#505053'
				 }
			  }
		   },

		   // scroll charts
		   rangeSelector: {
			  buttonTheme: {
				 fill: '#505053',
				 stroke: '#000000',
				 style: {
					color: '#CCC'
				 },
				 states: {
					hover: {
					   fill: '#707073',
					   stroke: '#000000',
					   style: {
						  color: 'white'
					   }
					},
					select: {
					   fill: '#000003',
					   stroke: '#000000',
					   style: {
						  color: 'white'
					   }
					}
				 }
			  },
			  inputBoxBorderColor: '#505053',
			  inputStyle: {
				 backgroundColor: '#333',
				 color: 'silver'
			  },
			  labelStyle: {
				 color: 'silver'
			  }
		   },

		   navigator: {
			  handles: {
				 backgroundColor: '#666',
				 borderColor: '#AAA'
			  },
			  outlineColor: '#CCC',
			  maskFill: 'rgba(255,255,255,0.1)',
			  series: {
				 color: '#7798BF',
				 lineColor: '#A6C7ED'
			  },
			  xAxis: {
				 gridLineColor: '#505053'
			  }
		   },

		   scrollbar: {
			  barBackgroundColor: '#808083',
			  barBorderColor: '#808083',
			  buttonArrowColor: '#CCC',
			  buttonBackgroundColor: '#606063',
			  buttonBorderColor: '#606063',
			  rifleColor: '#FFF',
			  trackBackgroundColor: '#404043',
			  trackBorderColor: '#404043'
		   },

		   // special colors for some of the
		   legendBackgroundColor: 'rgba(0, 0, 0, 0.5)',
		   background2: '#505053',
		   dataLabelsColor: '#B0B0B3',
		   textColor: '#C0C0C0',
		   contrastTextColor: '#F0F0F3',
		   maskColor: 'rgba(255,255,255,0.3)'
		};

		// Apply the theme
		Highcharts.setOptions(Highcharts.theme);
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-test-mem-usage').highcharts(
			{{ cm_test.hc_line(cm_test.mem_usage(),'cloudera-test-mem-usage','o')|tojson|safe }}
			);
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-test-cpu-usage').highcharts(
			{{ cm_test.hc_line(cm_test.cpu_usage(),'cloudera-test-cpu-usage','o')|tojson|safe }}
			);
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-prod-mem-usage').highcharts(
			{{ cm_prod.hc_line(cm_prod.mem_usage(),'cloudera-prod-mem-usage','o')|tojson|safe }}
			);
		});
	</script>

	<script type="text/javascript">
		$(function () {
			$('#cloudera-prod-cpu-usage').highcharts(
			{{ cm_prod.hc_line(cm_prod.cpu_usage(),'cloudera-prod-cpu-usage','o')|tojson|safe }}
			);
		});
	</script>
</body>
</html>